= form_for(@job) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2
        = pluralize(@job.errors.count, "error")
        prohibited this job from being saved:
      %ul
        - @job.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label :title
    %br/
    = f.text_field :title, class: "form-control", placeholder: "e.g. Casual Retail Assistant"
    
  .form-group
    = f.label :description
    %br/
    = f.text_area :description, class: "form-control wysihtml5", rows: "20", style: "resize:none"
    
  .form-group
    = f.label :close_date
    %br/
    = f.text_field :close_date, class: "form-control", placeholder: "dd/mm/yyyy"
    
  .form-group
    = f.label :location
    %br/
    = f.select :location, options_for_select([['Sydney', 'Sydney'], ['Melbourne', 'Melbourne'], ['Brisbane', 'Brisbane']])
    
  .form-group
    = f.label :list_snippet
    %br/
    = f.text_area :list_snippet, class: "form-control", placeholder: "This is what will be shown in the list view (max 250 char)", rows: "8"
    
  .form-group
    = f.submit class: "btn btn-primary"